In [1]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [2]:
type(sample_list)

list

In [3]:
sample_list[1]

13.6

In [4]:
sample_list[5]

IndexError: list index out of range

In [5]:
sample_list[-2]

12

In [6]:
sample_list[0]=10

In [7]:
sample_list

[10, 13.6, 'hi', 12, 1]

In [8]:
sample_tuple=(1,13.6,'hi',12,1)
sample_tuple

(1, 13.6, 'hi', 12, 1)

In [9]:
type(sample_tuple)

tuple

In [11]:
sample_tuple=[1,13.6,"hi",12,1]
sample_tuple

[1, 13.6, 'hi', 12, 1]

In [12]:
sample_tuple[1]

13.6

In [13]:
sample_tuple(1)

TypeError: 'list' object is not callable

In [14]:
demo=1,1.2,'kalp'

In [15]:
type(demo)

tuple

In [16]:
print(demo)

(1, 1.2, 'kalp')

print(type(

In [17]:
print(type(demo))

<class 'tuple'>

In [18]:
print(type)

<class 'type'>

In [19]:
demo=1,1.2,'kalp'
print(demo)
type(demo)

(1, 1.2, 'kalp')

tuple

In [44]:
sample_set={1,13.6,"kalp",6,1,13.6,"jeel","janmesh",143}
sample_set

{1, 13.6, 143, 6, 'janmesh', 'jeel', 'kalp'}

In [45]:
sample_set[0]="hello"

TypeError: 'set' object does not support item assignment

In [46]:
sample_set

{1, 13.6, 143, 6, 'janmesh', 'jeel', 'kalp'}

In [47]:
sample_set.add("Kalp")
print(sample_set)

{1, 6, 'Kalp', 'janmesh', 'kalp', 'jeel', 13.6, 143}

In [48]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [49]:
sample_set.remove(1)

In [50]:
sample_set

{13.6, 143, 6, 'Kalp', 'janmesh', 'jeel', 'kalp'}

In [60]:
sample_dict={1:1,2:16,3:'Kalp',4:'janmesh', 5:'kalp', 6:'jeel', 7:13.6, 8:143}

In [61]:
sample_dict

{1: 1, 2: 16, 3: 'Kalp', 4: 'janmesh', 5: 'kalp', 6: 'jeel', 7: 13.6, 8: 143}

In [62]:
sample_dict[3]

'Kalp'

In [63]:
sample_dict['kalp']

KeyError: 'kalp'

In [64]:
sample_dict[10]="jaini"

In [65]:
sample_dict

{1: 1,
 2: 16,
 3: 'Kalp',
 4: 'janmesh',
 5: 'kalp',
 6: 'jeel',
 7: 13.6,
 8: 143,
 10: 'jaini'}